<!-- BtnAdd.astro -->
<button class="add-button" onclick="window.location.href='/Nuevo_pro'">Añadir Producto</button>

<style>
  .add-button {
    padding: 10px 20px;
    background-color: #00b0ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s ease;
  }

  .add-button:hover {
    background-color: #009be6;
  }
</style>
